<style>
  #station_names {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
</style>
{{#each latest}}
<div class="content box">
  <section>
    <div class="columns is-centred">
      <div class="column is-one-sixth">
        <div class="box has-background-grey">
          <h1 class="has-text-white">
            {{name}} 
          </h1>
        </div>
      </div>
      <div class="column is-one-sixth">
        <div class="box has-background-grey">
          <h2 class="has-text-white">Weather</h2>
          <p class="has-text-white">
            {{weather}}
          </p>
        </div>
      </div>
      <div class="column is-one-sixth">
        <div class="box has-background-grey">
          <h2 class="has-text-white">Temp.</h2>
            <div class="columns">
              <div class="column">
                <p class="has-text-white">{{temperature}}&degC</p>
              </div>
              <div class="column">
                <p class="has-text-white">{{temperatureF}}&degF</p>
              </div>
            </div>
        </div>
      </div>
      <div class="column is-one-sixth">
        <div class="box has-background-grey">
          <h2 class="has-text-white">Wind Speed</h2>
          <p class="has-text-white">
            {{windSpeed}}bft
          </p>
        </div>
      </div>
      <div class="column is-one-sixth">
        <div class="box has-background-grey">
          <h2 class="has-text-white">Wind Direction</h2>
          <p class="has-text-white">
            {{windDirection}}&deg
          </p>
        </div>
      </div>
      <div class="column is-one-sixth">
        <div class="box has-background-grey">
          <h2 class="has-text-white">pressure</h2>
          <p class="has-text-white">
            {{pressure}}kPa
          </p>
        </div>
      </div>
    </div>
    <a href="/station/{{_id}}" class="button">
              {{>icons/open}}
            </a>
            <a href="/dashboard/deleteStation/{{_id}}" class="button">
              {{>icons/delete}}
            </a>
  </section>
</div>
{{/each}}




