<style>
  #station_names {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
</style>
{{#each latest}}
<div class="content box">
  <section>
    <div class="columns is-centred">
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <h1 class="has-text-white">
            {{name}}
            {{>icons/pinpoint}}
          </h1>
          <p class="has-text-white"><b>Latitude:</b> {{lat}}</p>
          <p class="has-text-white"><b>Longitude:</b> {{lng}}</p>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <h2 class="has-text-white">Weather</h2>
          <p class="has-text-white">
            {{weather}}
          </p>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <div class="columns">
            <div class="column is-one-half">
              <h2 class="has-text-white">Temp.</h2>
            </div>
            <div class="column is-one-half">
              {{#if (trendChk trendTemp 0)}}
              <p>
                {{>icons/temp-steady}}
              </p>
              {{/if}}
              {{#if (trendChk trendTemp 1)}}
              <p>
                {{>icons/temp-up}}
              </p>
              {{/if}}
              {{#if (trendChk trendTemp -1)}}
              <p>
                {{>icons/temp-down}}
              </p>
              {{/if}}
            </div>
          </div>
            <div class="columns">
              <div class="column is-one-third">
                <p class="has-text-white">Current (Celsius): {{temperature}}&degC</p>
                <p class="has-text-white">Current (Fahrenheit): {{temperatureF}}&degF</p>
                </div>
              <div class="column is-one-third">
                <p class="has-text-white">Min: {{minTemp}}&degC</p>
              </div>
              <div class="column is-one-third">
                <p class="has-text-white">Max: {{maxTemp}}&degC</p>
              </div>
            </div>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <div class="columns">
            <div class="column is-one-third">
              <h2 class="has-text-white">Wind Speed</h2>
            </div>
            <div class="column is-one-third">
              {{>icons/wind}}
            </div>
            <div class="column is-one-third">
              {{#if (trendChk trendWind 1)}}
              <p>
                {{>icons/arrow-up}}
              </p>
              {{/if}}
              {{#if (trendChk trendWind -1)}}
              <p>
                {{>icons/arrow-down}}
              </p>
              {{/if}}
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <p class="has-text-white">{{windSpeedBft}}bft</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Min: {{minWindSpeed}}km/hr</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Max: {{maxWindSpeed}}km/hr</p>
            </div>
          </div>
          <p class="has-text-white">Wind Direction: {{windDirection}}&deg</p>
          <p class="has-text-white">Feels like: {{windChill}}&degC</p>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <div class="columns">
            <div class="column is-one-third">
              <h2 class="has-text-white">Pressure</h2>
            </div>
            <div class="column is-one-third">
              {{>icons/pressure}}
            </div>
            <div class="column is-one-third">
              {{#if (trendChk trendPressure 1)}}
              <p>
                {{>icons/arrow-up}}
              </p>
              {{/if}}
              {{#if (trendChk trendPressure -1)}}
              <p>
                {{>icons/arrow-down}}
              </p>
              {{/if}}
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <p class="has-text-white">
                {{pressure}}kPa
              </p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Min: {{minPressure}}kPa</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Max: {{maxPressure}}kPa</p>
            </div>
        </div>
      </div>
    </div>
  </section>
  <a href="/station/{{station_id}}" class="button">
    {{>icons/open}}
  </a>
  <a href="/dashboard/deleteStation/{{station_id}}" class="button">
    {{>icons/delete}}
  </a>
</div>
{{/each}}




