<div class="content box">
  <section>
    <div class="columns is-centred">
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <h1 class="has-text-white">
            {{latest.name}}
            {{>icons/pinpoint}}
          </h1>
          <p class="has-text-white"><b>Latitude:</b> {{latest.lat}}</p>
          <p class="has-text-white"><b>Longitude:</b> {{latest.lng}}</p>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <div class="columns">
            <div class="column is-one-half">
              <h2 class="has-text-white">Weather</h2>
            </div>
            <div class="column is-one-half">
              {{#if (weatherIcon latest.code 1)}}
              <p>
                {{>icons/clear}}
              </p>
              {{/if}}
              {{#if (weatherIcon latest.code 2)}}
              <p>
                {{>icons/partial-clouds}}
              </p>
              {{/if}}
              {{#if (weatherIcon latest.code 3)}}
              <p>
                {{>icons/cloudy}}
              </p>
              {{/if}}
              {{#if (weatherIcon latest.code 4)}}
              <p>
                {{>icons/light-showers}}
              </p>
              {{/if}}
              {{#if (weatherIcon latest.code 5)}}
              <p>
                {{>icons/heavy-showers}}
              </p>
              {{/if}}
              {{#if (weatherIcon latest.code 6)}}
              <p>
                {{>icons/rain}}
              </p>
              {{/if}}
              {{#if (weatherIcon latest.code 7)}}
              <p>
                {{>icons/snow}}
              </p>
              {{/if}}
              {{#if (weatherIcon latest.code 8)}}
              <p>
                {{>icons/thunder}}
              </p>
              {{/if}}
            </div>
          </div>
          <p class="has-text-white">
            {{latest.weather}}
          </p>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <div class="columns">
            <div class="column is-one-half">
              <h2 class="has-text-white">Temp.</h2>
            </div>
            <div class="column is-one-half">
              {{#if (trendChk latest.trendTemp 0)}}
              <p>
                {{>icons/temp-steady}}
              </p>
              {{/if}}
              {{#if (trendChk latest.trendTemp 1)}}
              <p>
                {{>icons/temp-up}}
              </p>
              {{/if}}
              {{#if (trendChk latest.trendTemp -1)}}
              <p>
                {{>icons/temp-down}}
              </p>
              {{/if}}
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <p class="has-text-white">Current (Celsius): {{latest.temperature}}&degC</p>
              <p class="has-text-white">Current (Fahrenheit): {{latest.temperatureF}}&degF</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Min: {{latest.minTemp}}&degC</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Max: {{latest.maxTemp}}&degC</p>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <div class="columns">
            <div class="column is-one-quarter">
              <h2 class="has-text-white">Wind Speed</h2>
            </div>
            <div class="column is-one-quarter">
              <p></p>
            </div>
            <div class="column is-one-quarter">
              {{>icons/wind}}
            </div>
            <div class="column is-one-quarter">
              {{#if (trendChk latest.trendWind 1)}}
              <p>
                {{>icons/arrow-up}}
              </p>
              {{/if}}
              {{#if (trendChk latest.trendWind -1)}}
              <p>
                {{>icons/arrow-down}}
              </p>
              {{/if}}
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <p class="has-text-white">{{latest.windSpeedBft}}bft</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Min: {{latest.minWindSpeed}}km/hr</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Max: {{latest.maxWindSpeed}}km/hr</p>
            </div>
          </div>
          <p class="has-text-white">Wind Direction (Degrees): {{latest.windDirection}}&deg</p>
          <p class="has-text-white">Wind Direction (Direction): {{latest.windDirectionNESW}}</p>
          <p class="has-text-white">Feels like: {{latest.windChill}}&degC</p>
        </div>
      </div>
      <div class="column is-one-fifth">
        <div class="box has-background-grey">
          <div class="columns">
            <div class="column is-one-quarter">
              <h2 class="has-text-white">Atmos.</h2>
            </div>
            <div class="column is-one-quarter">
              <p></p>
            </div>
            <div class="column is-one-quarter">
              {{>icons/pressure}}
            </div>
            <div class="column is-one-quarter">
              {{#if (trendChk latest.trendPressure 1)}}
              <p>
                {{>icons/arrow-up}}
              </p>
              {{/if}}
              {{#if (trendChk latest.trendPressure -1)}}
              <p>
                {{>icons/arrow-down}}
              </p>
              {{/if}}
            </div>
          </div>
          <div class="columns">
            <div class="column is-one-third">
              <p class="has-text-white">
                {{latest.pressure}}kPa
              </p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Min: {{latest.minPressure}}kPa</p>
            </div>
            <div class="column is-one-third">
              <p class="has-text-white">Max: {{latest.maxPressure}}kPa</p>
            </div>
          </div>
        </div>
      </div>
  </section>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Date/Time</th>
            <th> Code </th>
            <th> Temp </th>
            <th> Wind Speed </th>
            <th> Wind Direction </th>
            <th> Pressure </th>
        </tr>
    </thead>
    <tbody>
        {{#each station.readings}}
        <tr>
            <td>{{formattedTime}}</td>
            <td> {{code}} </td>
            <td> <p>{{temperature}}&degC</p>
                <p>{{temperatureF}}&degF</p>
            </td>
            <td> {{windSpeedBft}}bft </td>
            <td> {{windDirection}}&deg </td>
            <td> {{pressure}}kPa </td>
          <td>
            <a href="/station/{{../station._id}}/deleteReading/{{_id}}" class="button">
              {{>icons/delete}}
            </a>
            <a href="/station/{{../station._id}}/editReading/{{_id}}" class="button">
              {{>icons/edit}}
            </a>
          </td>
        </tr>
        {{/each}}
    </tbody>
</table>



