<table class="table is-fullwidth">
    <thead>
        <tr>
            <th> Code </th>
            <th> Temp </th>
            <th> Wind Speed </th>
            <th> Wind Direction </th>
            <th> Pressure </th>
        </tr>
    </thead>
    <tbody>
        {{#each station.readings}}
        <tr>
            <td> {{code}} </td>
            <td> <span>{{temperatureC}}&degC</span>
                <span>{{temperatureF}}&degF</span>
            </td>
            <td> {{windSpeed}}bft </td>
            <td> {{windDirection}}&deg </td>
            <td> {{pressure}}kPa </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<tr>
    
</tr>