<tr>
  <td> {{reading.code}} </td>
  <td> {{reading.temperatureC}}&degC 
    {{reading.temperatureF}}&degF
  </td>
  <td> {{reading.windSpeed}}bft </td>
  <td> {{reading.windDirection}}&deg </td>
  <td> {{reading.pressure}}kPa </td>
</tr>